<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title> Product Card | CodingLab </title>
  <link rel="stylesheet" href="./css/displayproduct.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link
  href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
  rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
  integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        a{
            text-decoration: none;
            color: #fff;
        }
        .shipping span,.shipping i{
            font-size: 20px;
        }
    </style>
</head>

<body>
  <div class="container">

    <div class="first">
        <div class="first">
            <div class="box one">
                <div class="details">
                    <div class="topic">Description</div>
                    <p spellcheck="false" class="from-text" placeholder="Enter text" name="from">

                        <%= product.info %>
                    </p>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>

                    </div>

                    <div class="price-box">
                        <div class="price-box">

                            <div class="cash">
                                <div class="price" id="amount">
                                    <%= product.price %>
                                </div>
                                <div class="note" id="vals">USD</div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="button1">
                    <button><a
                            href="/add-to-cart?userid=<%= encodeURIComponent(user._id) %>&productName=<%= encodeURIComponent(producer.name) %>&id=<%= encodeURIComponent(product._id) %>&productCost=<%= product.price %>&imgUrl=<%= encodeURIComponent(product.imgUrl) %>&producerid=<%= encodeURIComponent(producer._id) %>&producername=<%= encodeURIComponent(product.name) %>">
                            Add To Cart</a></button>
                </div>
            </div>

            <div class="box two">
                <div class="image-box">
                    <div class="image">
                        <img class="img" src="<%= product.imgUrl %> " alt="">
                    </div>
                    <div class="info">
                        <div class="name">
                            <%= product.name %>
                        </div>
                        <a
                            href="/producer?productid=<%= encodeURIComponent(product._id) %>&producerid=<%= encodeURIComponent(product.producerid) %>&userid=<%= encodeURIComponent(user._id) %>">

                            <div class="shipping"><i class="fa-solid fa-user"></i> <span>
                                    <%= product.producername %>
                                </span> <i class="fa-solid fa-circle-check" style="color: green;"></i></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="second">
      <div class="wrapper">
        <ul class="controls">
          <li class="row from">
            <select class="trans from"></select>
          </li>
          <li class="exchange"><i class="fas fa-exchange-alt"></i></li>
          <li class="row to">
            <select class="trans to"></select>
          </li>
        </ul>
        <button class="transBTN">Translate Text</button>
      </div>
      <div class="conv">
        <div class="currency">
          <div>
            <select class="curr" id="from_currency"></select>
          </div>
          <div>
            <select class="curr" id="to_currency"></select>
          </div>
        </div>
        <button id="convert">Convert</button>
      </div>
    </div>
  </div>
  <script src="./js/currency.js"></script>
  <script src="./js/trans_cont.js"></script>
  <script src="./js/trans_final.js"></script>

</body>

</html>