<!DOCTYPE html>
<!-- Coding by CodingNepal | www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Responsiive Admin Dashboard | CodingLab </title>
    <link rel="stylesheet" href="/css/admin.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <span class="logo_name"><span style="color:rgb(217, 153, 84);">B</span><span style="color:rgb(80, 207, 80)">B</span></span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="/admin/dashboard" class="active">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="/admin/customers">
                <i class="fa-solid fa-user"></i>
                <span class="links_name">Customers</span>
            </a>
        </li>
        <li>
            <a href="/admin/orders">
                <i class="fa-solid fa-truck-fast"></i>
                <span class="links_name">Orders</span>
            </a>
        </li>
        <li>
            <a href="/admin/favourites">
                <i class="fa-solid fa-heart"></i>
                <span class="links_name">Favourites</span>
            </a>
        </li>
        <li>
            <a href="/admin/products">
                <i class='bx bx-box'></i>
                <span class="links_name">Products</span>
            </a>
        </li>
        <li> 
            <a href="/admin/total-orders">
                <i class="fa-solid fa-sack-dollar"></i>
                <span class="links_name">Total orders</span>
            </a>
        </li>
        <li>
            <a href="/admin/addnewproduct" >
                <i class="fa-solid fa-circle-plus"></i>
                <span class="links_name">Add Product</span>
            </a>
        </li>

        <li>
            <a href="/admin/update">
                <i class="fa-regular fa-circle-check"></i>
                <span class="links_name">Update</span>
            </a>
        </li>
        <li>
            <a href="/admin/delete">
                <i class="fa-solid fa-trash-can"></i>
                <span class="links_name">Delete</span>
            </a>
        </li>
        

        <li class="log_out">
            <a href="/login">
                <i class='bx bx-log-out'></i>
                <span class="links_name">logout</span>
            </a>
        </li>
    </ul>
    </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Dashboard</span>
      </div>

      <div class="profile-details">
        <img src="/images/bb2.jpeg" alt="logo" class="img-fluid">
        <span class="admin_name">Barath Bazaar</span>

      </div>
    </nav>

    <div class="home-content">
      <div class="overview-boxes">
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Orders</div>
            <div class="number"><% let total = 0; %>
              <% for (const pro in ordered) { %>
                  <% total += 1; %>
              <% } %>

              <%= total %></div>
          </div>
          <i class='bx bx-cart-alt cart'></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Sales</div>
            <div class="number">
              <% let totalPrice = 0 %>
              <% for (const pro in ordered) { %>
                  <% totalPrice += ordered[pro].price %>
              <% } %>

              $<%= totalPrice.toFixed(2) %>

            </div>
          </div>
          <i class='bx bxs-cart-add cart two' ></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">In cart for Order</div>
            <div class="number"><% let totalPro = 0; %>
              <% for (const pro in InCart) { %>
                  <% totalPro += 1; %>
              <% } %>

              <%= totalPro %></div>
          </div>
          <i class='bx bx-cart cart three' ></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total customers</div>
            <div class="number"><% let totalCus = 0; %>
              <% for (const pro in customers) { %>
                  <% totalCus += 1; %>
              <% } %>

              <%= totalCus %></div>
          </div>
          <i class='bx bxs-cart-download cart four' ></i>
        </div>
      </div>

      <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title">All Sales</div>
          <div class="sales-details">
            <div class="heading">
              <li class="topic date">Date</li>
            
              <li class="topic customer">Customer</li>
              <li class="topic">Product</li>
              <li class="topic">Total</li>
            </div>


            <% ordered.forEach(product => { %>
            <ul class="details">
              
              <li  class="date"><a href="#"><%= product.date.toLocaleString(undefined, { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', hour12: true }).replace(/\./g, '').toUpperCase() %></a></li>

              <li class="customer"><a href="#"><%= product.username %></a></li>
              <li ><a href="#"><%= product.name %></a></li>
              <li><a href="#">$<%= product.price %></a></li>
            </ul>
            <% }); %>
          </div>
        </div>
        <div class="top-sales box">
          <div class="title">Top Liked Products</div>
          <ul class="top-sales-details">
            <% productLikes.forEach(product => { %>
            <li>
            <a href="#">
              <img src=<%= [...product.product][0].imgUrl %> alt="">
              <span class="product"><%= product.productName %></span>
            </a>
            <span class="prices likes"><%= product.likes %> likes</span>
            <span class="price">$<%= [...product.product][0].price %></span>
          </li>
          <% }); %>

          </ul>
        </div>
      </div>
    </div>
  </section>

<script src="/css/admin.js"></script>

</body>
</html>